

.form-center{
    text-align: center;
    margin: auto;
}

.input-style{
    border-radius: 10px;
    font-family: cursive;
    font-size: 20px;
    height: auto;
    width: auto;
}

.input-style-desc{
    border-radius: 10px;
    font-family: cursive;
    font-size: 20px;
    width: 70%;
    height: 200px;
}

.Titre_principale{
    font-size: 90%;
}

.text-error{
    font-size: 100%;
    font-family: cursive;
}

.text_fin{
    font-family: cursive;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.logodiv{
    width: 80px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.textdiv{
    width: 90%;
    height: 80%;
    padding-left: 14%;
    text-align: center;
}

.logobig{
    width:70%;
    height: 60%;
    will-change: filter;
    transition: filter 300ms;
}

.logo{
    width: 80px;
    height: 80px;
    will-change: filter;
    transition: filter 300ms;
    margin-top:10px;
}

.logo3{
    width: 80px;
    height: auto;
    will-change: filter;
    transition: filter 300ms;
    margin-top:50%;
}

.conteneur{
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteneur_offres{
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteneur2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invisible {
    visibility: hidden;
}


.logo:hover {
    filter: drop-shadow(0 0 1em rgba(255, 255, 255, 0.87));
}

.logo3:hover {
    filter: drop-shadow(0 0 1em rgba(255, 255, 255, 0.87));
}

.logobig:hover {
    filter: shadow(0 0 1em rgb(221, 17, 17));
}


.button-text{
    font-family: cursive;
    font-size: 20px;
}

.inscryption-text{
    font-family: cursive;
    font-size: 20px;
}

input[required]:user-valid{
    color:black;
}

input[required]:user-invalid {
    border: 2px solid crimson;
}

.cookies-yes{
    color: green;
}

.cookies-no{
    color: crimson;
}

.inscryption-text:visited {
    color: #4c11d8;
}





.liquid_box{
    color: white;
    text-align: center;
    padding: 14px 32px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow:
            inset 0 1px 1px rgba(255,255,255,0.2),
            0 8px 24px rgba(0,0,0,0.15);
    transition: all 0.35s ease;
    position: relative;
    overflow: hidden;
}

.liquid-form-center{
    text-align: center;
    margin: 0px 20px ;
    top: 150px;
    position: relative;
}

.liquid_box_mini{
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0 10px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow:
            inset 0 1px 1px rgba(255,255,255,0.2),
            0 8px 24px rgba(0,0,0,0.15);
    transition: all 0.35s ease;
    position: relative;
    overflow: hidden;
}

.liquid_box_offre{
    color: white;
    text-align: center;
    margin: 10px;
    padding: 7px 16px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow:
            inset 0 1px 1px rgba(255,255,255,0.2),
            0 8px 24px rgba(0,0,0,0.15);
    transition: all 0.35s ease;
    position: relative;
    overflow: hidden;


}

.offres {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
    padding: 20px;
    margin-bottom: 10px;
}


#positif{
    border: 1px solid rgb(60, 253, 0);
}

.offres .title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.offres .desc {
    font-size: 12px;
    margin-bottom: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-left: 10px;
}

.lieu {
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-left: 10px;
    margin-bottom : 10px;
}

.nb-post {
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    margin-right: 10px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transparent {
    opacity: 0;
}

.pagination_padding{
    padding: 0.5em 0.5em;
    color:	#08C5D1;
}

input::placeholder{
    color: white;
}

.margin_div {
    margin: 10px;
}

#recherche{
    width: 10%;
}

.conteneurgrid{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    grid-gap: 5px;
}

.offres {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
    padding: 20px;
    margin-bottom: 10px;
}
  
.offres .title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.offres .desc {
    font-size: 12px;
    margin-bottom: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-left: 10px;
}

.lieu {
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-left: 10px;
    margin-bottom : 10px;
}

.nb-post {
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    margin-right: 10px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 700px) {

.liquid_box{
    top: 100px;
}

.liquid_box_mini{
    margin: 5px;
    font-size: 0.8em;
}

.conteneur_offres{
    display: inline-block;
    text-align: center;
}

.pagination{
    height: 40px;
}


.pagination_padding{
    padding: 0.3em;
}

.nav_barre{
    font-size: 1em;
}
.liquid-form-center{
    top: 50px;
}

}